mat-sidenav-container {
  min-height: 100%;
}

mat-sidenav-container mat-sidenav {
  width: 240px;
}

mat-sidenav-container mat-sidenav nav a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(0,0,0,.1);
  box-sizing: border-box;
  color: rgba(0,0,0,.54);
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  margin: 0;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
  transition: all .3s;
}

mat-sidenav-container mat-sidenav nav a:hover {
  background-color: rgba(0,0,0,.05);
  color: rgba(0,0,256,.5);
}

mat-toolbar {
  position: relative;
  z-index: 10;
}
