<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Dox</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="mat-elevation-z6" role="navigation">
    <nav>
      <a href="/1.1">Subsection 1.1</a>
      <a href="/1.2">Subsection 1.2</a>
      <a href="/1.3">Subsection 1.3</a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content class="mat-elevation-z0" role="main">
  </mat-sidenav-content>
</mat-sidenav-container>
